<a href="https://colab.research.google.com/github/TanChen168/Week5_PreProcessing/blob/main/PreProcessingExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd

filename = '/content/sample_data/insurance.csv'

df = pd.read_csv(filename)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [23]:
# The target we are trying to predict
y = df['charges']
# The features we will use to make the prediction
X = df.drop(columns = 'charges')

In [24]:
# Import the TTS from sklearn
from sklearn.model_selection import train_test_split
# Train test split 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [28]:
X_test

      age     sex     bmi  children smoker     region
764    45  female  25.175         2     no  northeast
887    36  female  30.020         0     no  northwest
890    64  female  26.885         0    yes  northwest
1293   46    male  25.745         3     no  northwest
259    19    male  31.920         0    yes  northwest
...   ...     ...     ...       ...    ...        ...
342    60  female  27.550         0     no  northeast
308    58    male  34.865         0     no  northeast
1128   34    male  32.800         1     no  southwest
503    19    male  30.250         0    yes  southeast
1197   41    male  33.550         0     no  southeast

[335 rows x 6 columns]

Numerical - Age, BMI

Ordinal - Children

Nominal - Sex, Smoker, Region